<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />

<!-- Bootstrap core CSS -->
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />

<!-- Custom fonts for this template -->
<link th:href="@{/css/all.min.css}" rel="stylesheet" />
<link th:href="@{/css/simple-line-icons.css}" rel="stylesheet"
	type="text/css" />
<link
	href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic"
	rel="stylesheet" type="text/css" />

<!-- Custom styles for this template -->
<link th:href="@{/css/landing-page.min.css}" rel="stylesheet" />

<link rel="stylesheet" th:href="@{/css/login.css}" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" th:href="@{/css/panel.css}" />
</head>
<body>

	<!-- Navbar -->
	<nav class="navbar navbar-light bg-light static-top" th:fragment="nav">
		<div class="container">
			<a class="navbar-brand" th:href="@{/}">Real Estate Ads</a>
			 <div sec:authorize="isAuthenticated()">
				<a class="btn btn-primary" th:href="@{/logout}">Log Out</a>
			</div>
			<div sec:authorize="isAnonymous()">
				<a class="btn btn-primary" th:href="@{/login}">Log In</a> <a
					class="btn btn-primary" th:href="@{/users/registration}">Register</a>
			</div> 
		</div>
	</nav>
	
	 <!-- Footer -->
    <footer class="footer bg-light" th:fragment="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
            <ul class="list-inline mb-2">
              <li class="list-inline-item">
                <a href="#">About</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Contact</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Terms of Use</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Privacy Policy</a>
              </li>
            </ul>
            <p class="text-muted small mb-4 mb-lg-0">&copy; Milos Bilic 2022. All Rights Reserved.</p>
          </div>
          <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
            <ul class="list-inline mb-0">
              <li class="list-inline-item mr-3">
                <a href="#">
                  <i class="fab fa-facebook fa-2x fa-fw"></i>
                </a>
              </li>
              <li class="list-inline-item mr-3">
                <a href="#">
                  <i class="fab fa-twitter-square fa-2x fa-fw"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-instagram fa-2x fa-fw"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <script th:src="@{/js/jquery.min.js}"></script>
   	  <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    </footer>
    
</body>
</html>