<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title th:text="400 +' Bad Request'"></title>
<th:block th:include="fragments/general :: head"></th:block>
</head>


<body>

	<th:block th:replace="fragments/general :: nav"></th:block>

	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-xl-9 mx-auto text-center">
				<h1 th:text="400 + ' ' + 'Bad Request'" class="mb-5"></h1>
				<h4 th:text="${msg}"></h4>
			</div>
		</div>
	</div>
	

	<th:block th:replace="fragments/general :: footer"></th:block>
</body>
</html>