<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <head>
  	<title>Real Estate Ads</title>
  	<th:block th:include="fragments/general :: head"></th:block>
  </head>

  	
  <body>

    <th:block th:replace="fragments/general :: nav"></th:block>

    <!-- Masthead -->
    <header class="masthead text-white text-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h1 class="mb-5">Bringing a home to you</h1>
          </div>
          <div class="col-md-10 col-lg-8 col-xl-12 mx-auto">
            <form th:action="@{/search}" th:object="${search}" method="post">
            	<div class="input-group">
  					<select class="form-control" th:value="${adType}" th:field="*{adType}">
  						<option th:each="adType: ${adTypes}" th:text="${adType.toString()}" th:value="${adType.toString()}"></option>
  					</select>
  					<select class="form-control" th:field="*{realEstateType}">
  						<option th:each="realEstate: ${realEstates}" th:value="${realEstate.toString()}" th:text="${realEstate.toString()}"></option>
  					</select>
  					<input type="text" class="form-control" th:placeholder="Location" th:field="*{location}" />
  					<input type="number" class="form-control search" placeholder="Min price" th:field="*{minPrice}" />
  					<input type="number" class="form-control search" placeholder="Max price" th:field="*{maxPrice}" />
  					<input type="number" class="form-control search" placeholder="Min area" th:field="*{minArea}" />
  					<input type="number" class="form-control search" placeholder="Max area" th:field="*{maxArea}" />
  					<button class="btn btn-primary" type="submit" th:text="Search">Search</button>
				</div>
            </form>
          </div>
        </div>
      </div>
    </header>

    <!-- Icons Grid -->
    <section class="features-icons bg-light text-center">
      <div class="container">
        <div class="row">
          	<div class="col-lg-4" th:each="ad: ${newestAds}">
            	<div class="features-icons-item mx-auto mb-0 mb-lg-3">
              		<div class="features-icons-icon d-flex">
               			<i class="icon-check m-auto text-primary"></i>
              		</div>
              		<a th:href="@{'/ads/' + ${ad.id}}">
              			<h3 th:text="${ad.title}">Easy to Use</h3>
              		</a>
              		<p class="lead mb-0" th:text="${ad.price.amount} + ' ' + ${ad.price.currency}">
              			400 EUR
              		</p>
            	</div>
          	</div>
        </div>
      </div>
    </section>

    <!-- Image Showcases -->
    <section class="showcase">
      <div class="container-fluid p-0">
        <div class="row no-gutters">

          <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('img/bg-showcase-1.jpg');"></div>
          <div class="col-lg-6 order-lg-1 my-auto showcase-text">
            <h2>Fully Responsive Design</h2>
            <p class="lead mb-0">When you use a theme created by Start Bootstrap, you know that the theme will look great on any device, whether it's a phone, tablet, or desktop the page will behave responsively!</p>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-lg-6 text-white showcase-img" style="background-image: url('img/bg-showcase-2.jpg');"></div>
          <div class="col-lg-6 my-auto showcase-text">
            <h2>Updated For Bootstrap 4</h2>
            <p class="lead mb-0">Newly improved, and full of great utility classes, Bootstrap 4 is leading the way in mobile responsive web development! All of the themes on Start Bootstrap are now using Bootstrap 4!</p>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('img/bg-showcase-3.jpg');"></div>
          <div class="col-lg-6 order-lg-1 my-auto showcase-text">
            <h2>Easy to Use &amp; Customize</h2>
            <p class="lead mb-0">Landing Page is just HTML and CSS with a splash of SCSS for users who demand some deeper customization options. Out of the box, just add your content and images, and your new landing page will be ready to go!</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Testimonials -->
    <section class="testimonials text-center bg-light">
      <div class="container">
        <h2 class="mb-5">What people are saying...</h2>
        <div class="row">
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="img/testimonials-1.jpg" alt="" />
              <h5>Margaret E.</h5>
              <p class="font-weight-light mb-0">"This is fantastic! Thanks so much guys!"</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="img/testimonials-2.jpg" alt="" />
              <h5>Fred S.</h5>
              <p class="font-weight-light mb-0">"Bootstrap is amazing. I've been using it to create lots of super nice landing pages."</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="img/testimonials-3.jpg" alt="" />
              <h5>Sarah	W.</h5>
              <p class="font-weight-light mb-0">"Thanks so much for making these free resources available to us!"</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Call to Action -->
    <section class="call-to-action text-white text-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h2 class="mb-4">Ready to get started? Sign up now!</h2>
          </div>
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <form>
              <div class="form-row">
                <div class="col-12 col-md-9 mb-2 mb-md-0">
                  <input type="email" class="form-control form-control-lg" placeholder="Enter your email..." />
                </div>
                <div class="col-12 col-md-3">
                  <button type="submit" class="btn btn-block btn-lg btn-primary">Sign up!</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

   <th:block th:replace="fragments/general :: footer"></th:block>
  <script type="text/javascript">
  	 $(document).ready(function() {
  		var fields =  $('.search');
  		$.each(fields, function() {
  			$(this).attr("value", "");
  		});
  	 });
  </script>
  </body>

</html>
